@keyframes transiçao {
    from {
        transform: translateY(100%);
    } to {
        transform: translateY(0%);
    }
}

#conteudo {
    animation-name: transiçao;
    animation-duration: 0.5s;
    border-right: 6px solid transparent; /* Borda direita */
    border-image: linear-gradient(rgb(224, 196, 223), rgb(246, 50, 253)) 1; /* Gradiente de cor nos lados esquerdo e direito */
}
/* <!-- links/conteudo --> */
    .conteudos{
       border-radius: 25px; 
      
       filter: drop-shadow(-3px -3px 10px rgb(209, 194, 205));
    }
    .imagem-com-texto {
        position: relative;
        transition: transform 0.6s ease-in-out;
        
        
    }
    .imagem-com-texto:hover {
        transform: translate(0px, 15px) scale(0.9);
        
    }
    .texto-sobre-imagem {
        position: absolute;
        padding-top: 3%;
        padding-left: 10%;
        color: white; 
    }
    .svg {
        width: 20%;
        padding-bottom: 2%;       
    }
    
    @media (min-width: 500px) {
        .texto-sobre-imagem h6 {
            font-weight: 900;
            font-size: 2rem;
        }
    }
    @media (max-width: 576px) {
        .texto-sobre-imagem p {
            font-size: 0.4rem;
            margin: 0; /* Ajuste para telas menores */
        }
    }
    .whatsapp_size {
        width: 20%;
    }