@keyframes transiçao {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0%);
    }
}
@keyframes transiçao_titulos {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0%);
    }
}

#conteudo {
    width: 100vh;
    animation-name: transiçao;
    animation-duration: 0.8s;
    border-right: 8px solid transparent; /* Borda direita */
    border-image: linear-gradient(#fcf0e3, rgb(241, 135, 245)) 1; /* Gradiente de cor nos lados esquerdo e direito */
}
/* <!-- links/conteudo --> */
    .conteudos{
       border-radius: 25px; 
      
       filter: drop-shadow(-5px -6px 9px rgba(230, 89, 89, 0.336));
    }
    .imagem-com-texto {
        position: relative;
        transition: transform 0.6s ease-in-out;
        
        
    }
    .imagem-com-texto:hover {
        transform: translate(0px, 15px) scale(0.9);
        
    }
    
    .texto-sobre-imagem {
        position: absolute;
        padding-top: 3%;
        padding-left: 10%;
        color: rgb(255, 255, 255); 
        animation-name: transiçao_titulos;
        animation-duration: 1s;
    }
    
    @media (min-width: 500px) {
        .texto-sobre-imagem h6 {
            font-weight:200;
            font-size: 1.5rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
    @media (max-width: 576px) {
        .texto-sobre-imagem h6 {
            font-size: 0.8rem;
            font-weight: 200;
            margin: 0.3rem; /* Ajuste para telas menores */
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
    .svg {
        width: 20%;
        padding-bottom: 2%;       
    }
    
    .whatsapp_size {
        width: 20%;
    }

    .cor_do_topo {
        background-color: #f8daba;
    }

    .whatsapp_size {
        width: 22px;
    }