@keyframes transiçao {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0%);
    }
}
@keyframes transiçao_titulos {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0%);
    }
}

#conteudo {
    animation-name: transiçao;
    animation-duration: 0.8s;
    border-right: 6px solid transparent; /* Borda direita */
    border-image: linear-gradient(#fcf0e3, rgb(241, 135, 245)) 1; /* Gradiente de cor nos lados esquerdo e direito */
}
/* <!-- links/conteudo --> */
    .conteudos{
       border-radius: 25px; 
      
       filter: drop-shadow(-5px -6px 9px rgba(230, 89, 89, 0.336));
    }
    .imagem-com-texto {
        position: relative;
        transition: transform 0.6s ease-in-out;
        
        
    }
    .imagem-com-texto:hover {
        transform: translate(0px, 15px) scale(0.9);
        
    }
    .texto-sobre-imagem {
        position: absolute;
        padding-top: 3%;
        padding-left: 10%;
        color: white; 
        animation-name: transiçao_titulos;
        animation-duration: 1s;
    }
    .svg {
        width: 20%;
        padding-bottom: 2%;       
    }
    
    @media (min-width: 500px) {
        .texto-sobre-imagem h6 {
            font-weight: 900;
            font-size: 2rem;
        }
    }
    @media (max-width: 576px) {
        .texto-sobre-imagem p {
            font-size: 0.4rem;
            margin: 0; /* Ajuste para telas menores */
        }
    }
    .whatsapp_size {
        width: 20%;
    }