<link rel="stylesheet" href="/static/css/produtos.css">

<div>
    <h3>CORTES</h3><hr>
</div>
<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-3 ">
        <div type="button" data-bs-toggle="modal" data-bs-target="#modal_1" class="row imagem-com-texto">    
            <img  src="/static/assets/img/11a0bef51cb81e075e627d6190c19167.jpg" class="img-fluid conteudos" alt="">
            <div class="texto-sobre-imagem" >
                <h6>CORTE</h6>
                <div class="d-flex flex-column ">

                </div>  
            </div> 
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true" >
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header cor_do_topo " >
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-3 ">
        <div type="button" data-bs-toggle="modal" data-bs-target="#modal_1" class="row imagem-com-texto">
            <img  src="/static/assets/img/2d11dc1fc4a4b8606c0adc607a193677.jpg" class="img-fluid conteudos" alt="">
            <div class="texto-sobre-imagem" >
                <h6>CORTE</h6>
                <div class="d-flex flex-column ">

                </div>  
            </div> 
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-3 ">
        <div type="button" data-bs-toggle="modal" data-bs-target="#modal_1" class="row imagem-com-texto">
            <img  src="/static/assets/img/73e5e29320a4e18e052881603a03e694.jpg" class="img-fluid conteudos" alt="">
            <div class="texto-sobre-imagem" >
                <h6>CORTE</h6>
                <div class="d-flex flex-column ">

                </div>  
            </div> 
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 mt-3 ">
        <div type="button" data-bs-toggle="modal" data-bs-target="#modal_1" class="row imagem-com-texto">
            <img  src="/static/assets/img/a9d854afc173609accc243db58ac32a2.jpg" class="img-fluid conteudos" alt="">
            <div class="texto-sobre-imagem" >
                <h6>CORTE</h6>
                <div class="d-flex flex-column ">

                </div>  
            </div> 
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>


