<link rel="stylesheet" href="/static/css/produtos.css">

<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
        <div type="button" data-bs-toggle="modal" data-bs-target="#modal_1" class="row imagem-com-texto">
            <img  src="/static/assets/img/images.jfif" class="img-fluid conteudos" alt="">
            <div class="texto-sobre-imagem" >
                <h6>OVOS DE PASCOA</h6>
                <div class="d-flex flex-column ">

                </div>  
            </div> 
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true" >
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header cor_do_topo " >
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
        <div type="button" data-bs-toggle="modal" data-bs-target="#modal_1" class="row imagem-com-texto">
            <img  src="/static/assets/img/images.jfif" class="img-fluid conteudos" alt="">
            <div class="texto-sobre-imagem" >
                <h6>OVOS DE PASCOA</h6>
                <div class="d-flex flex-column ">

                </div>  
            </div> 
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
        <div type="button" data-bs-toggle="modal" data-bs-target="#modal_1" class="row imagem-com-texto">
            <img  src="/static/assets/img/images.jfif" class="img-fluid conteudos" alt="">
            <div class="texto-sobre-imagem" >
                <h6>OVOS DE PASCOA</h6>
                <div class="d-flex flex-column ">

                </div>  
            </div> 
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
        <div type="button" data-bs-toggle="modal" data-bs-target="#modal_1" class="row imagem-com-texto">
            <img  src="/static/assets/img/images.jfif" class="img-fluid conteudos" alt="">
            <div class="texto-sobre-imagem" >
                <h6>OVOS DE PASCOA</h6>
                <div class="d-flex flex-column ">

                </div>  
            </div> 
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
        <div type="button" data-bs-toggle="modal" data-bs-target="#modal_1" class="row imagem-com-texto">
            <img  src="/static/assets/img/images.jfif" class="img-fluid conteudos" alt="">
            <div class="texto-sobre-imagem" >
                <h6>OVOS DE PASCOA</h6>
                <div class="d-flex flex-column ">

                </div>  
            </div> 
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
        <div type="button" data-bs-toggle="modal" data-bs-target="#modal_1" class="row imagem-com-texto">
            <img  src="/static/assets/img/images.jfif" class="img-fluid conteudos" alt="">
            <div class="texto-sobre-imagem" >
                <h6>OVOS DE PASCOA</h6>
                <div class="d-flex flex-column ">

                </div>  
            </div> 
        </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modal_1" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
    <div type="button" data-bs-toggle="modal" data-bs-target="#modal_2" class="row imagem-com-texto">
        <img src="/static/assets/img/734473d2621bf058f70286dd880eee4b.jpg" class="img-fluid  conteudos" alt="">
        <div class="texto-sobre-imagem" >
            <h6>OVOS DE PASCOA</h6>
            <div class="d-flex flex-column ">
               
               
               
            </div>       
        </div> 
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_2" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                     <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
    <div type="button" data-bs-toggle="modal" data-bs-target="#modal_3" class="row imagem-com-texto">
        <img src="/static/assets/img/3485d1fe7818c0ef2ff849021bb238a7.jpg" class="img-fluid conteudos" alt="">
        <div class="texto-sobre-imagem" >
            <h6>OVOS DE PASCOA</h6>
            <div class="d-flex flex-column ">
               
               
               
            </div>       
        </div> 
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_3" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                     <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
    <div type="button" data-bs-toggle="modal" data-bs-target="#modal_4" class="row imagem-com-texto">
        <img src="/static/assets/img/a259e2d5b9110d3a1bec4b6b8ef515c5.jpg" class="img-fluid conteudos" alt="">
        <div class="texto-sobre-imagem" >
            <h6>OVOS DE PASCOA</h6>
            <div class="d-flex flex-column ">
               
               
               
            </div>      
        </div> 
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_4" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                     <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
    <div type="button" data-bs-toggle="modal" data-bs-target="#modal_5" class="row imagem-com-texto">
        <img src="/static/assets/img/57e62b277e10ef502f2cc2ed4623f97f.jpg" class="img-fluid conteudos" alt="">
        <div class="texto-sobre-imagem" >
            <h6>OVOS DE PASCOA</h6>
            <div class="d-flex flex-column ">
               
               
               
            </div>      
        </div> 
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_5" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                     <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
    <div type="button" data-bs-toggle="modal" data-bs-target="#modal_6" class="row imagem-com-texto">
        <img src="/static/assets/img/3798d24f503e484a2e3195c5cee6cf1c.jpg" class="img-fluid conteudos" alt="">
        <div class="texto-sobre-imagem" >
            <h6>OVOS DE PASCOA</h6>
            <div class="d-flex flex-column ">
               
               
               
            </div>      
        </div> 
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_6" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
    <div type="button" data-bs-toggle="modal" data-bs-target="#modal_6" class="row imagem-com-texto">
        <img src="/static/assets/img/3798d24f503e484a2e3195c5cee6cf1c.jpg" class="img-fluid conteudos" alt="">
        <div class="texto-sobre-imagem" >
            <h6>OVOS DE PASCOA</h6>
            <div class="d-flex flex-column ">
               
               
               
            </div>      
        </div> 
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_6" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
    <div type="button" data-bs-toggle="modal" data-bs-target="#modal_6" class="row imagem-com-texto">
        <img src="/static/assets/img/3798d24f503e484a2e3195c5cee6cf1c.jpg" class="img-fluid conteudos" alt="">
        <div class="texto-sobre-imagem" >
            <h6>OVOS DE PASCOA</h6>
            <div class="d-flex flex-column ">
               
               
               
            </div>      
        </div> 
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_6" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
    <div type="button" data-bs-toggle="modal" data-bs-target="#modal_6" class="row imagem-com-texto">
        <img src="/static/assets/img/3798d24f503e484a2e3195c5cee6cf1c.jpg" class="img-fluid conteudos" alt="">
        <div class="texto-sobre-imagem" >
            <h6>OVOS DE PASCOA</h6>
            <div class="d-flex flex-column ">
               
               
               
            </div>      
        </div> 
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_6" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
    <div type="button" data-bs-toggle="modal" data-bs-target="#modal_6" class="row imagem-com-texto">
        <img src="/static/assets/img/3798d24f503e484a2e3195c5cee6cf1c.jpg" class="img-fluid conteudos" alt="">
        <div class="texto-sobre-imagem" >
            <h6>OVOS DE PASCOA</h6>
            <div class="d-flex flex-column ">
               
               
               
            </div>      
        </div> 
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_6" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-sm-6 col-md-3 col-lg-4 col-xl-4 mt-3 ">
    <div type="button" data-bs-toggle="modal" data-bs-target="#modal_6" class="row imagem-com-texto">
        <img src="/static/assets/img/3798d24f503e484a2e3195c5cee6cf1c.jpg" class="img-fluid conteudos" alt="">
        <div class="texto-sobre-imagem" >
            <h6>OVOS DE PASCOA</h6>
            <div class="d-flex flex-column ">
               
               
               
            </div>      
        </div> 
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_6" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cor_do_topo">
                    <h5 class="modal-title" id="confirmacaoModalLabel">Informações adicionais</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <ul>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                    <li>item1</li>
                </ul>
                <div class="text-end pe-2 pb-2 ">
                    <a href="https://api.whatsapp.com/send?phone=5577988180366&text=em desenvolvimento" target="_blank">
                        <button class="btn btn-success"><img src="../static/assets/icons/whatsapp-8.svg" class="img-fluid whatsapp_size " alt="">&nbsp;&nbsp;Comprar</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

